@using BeestjeOpJeFeestje.Data.DatabaseModels;
@model List<Booking>

@{
    ViewData["Title"] = "Boekingen";
}
<link rel="stylesheet" href="~/css/site.css" />

@if (User.IsInRole("Admin")){
    <h2 class="my-4">Beheer Boekingen</h2>
}else{
    <h2 class="my-4">Mijn Boekingen</h2>
}

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Datum</th>
            <th>Dieren</th>
            <th>Totaalprijs</th>
            @if (User.IsInRole("Admin"))
            {
                <th>Klant</th>
            }
            <th>Adres</th>
            <th>Acties</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@booking.Date.ToString("dd MMMM yyyy")</td>
                <td>
                    <div class="d-flex flex-wrap">
                        @foreach (var animal in booking.Animals)
                        {
                            <div class="animal-card m-2 p-2 border rounded">
                                <img src="@animal.ImageUrl" alt="@animal.Name" class="animal-img img-thumbnail" />
                                <div>@animal.Name (@animal.Type)</div>
                            </div>
                        }
                    </div>
                </td>
                <td>@booking.TotalPrice.ToString("C")</td>
                @if (User.IsInRole("Admin"))
                {
                    <td>@booking.Customer.Email</td>
                }
                <td>
                    @booking.Customer.Address
                <td>
                    <form asp-action="Delete" method="post" asp-route-id="@booking.Id" onsubmit="return confirm('Weet je zeker dat je deze boeking wilt verwijderen?');">
                        <button type="submit" class="btn btn-danger">Verwijderen</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
